.mini-cart {
  padding: 30px;
  position: relative;
  background: white;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px white,
    inset 0px 0px 4px rgba(255, 255, 255, 0.2),
    inset 7px 7px 15px rgba(55, 84, 170, 0),
    inset -7px -7px 20px rgba(255, 255, 255, 0),
    0px 0px 4px rgba(255, 255, 255, 0);
}
.mini-cart::before,
.mini-cart::after {
  content: '';
  background: #c3c2c7;
  border-radius: 5px;
  width: 30px;
  height: 5px;
  position: absolute;
  left: 16px;
  top: 27px;
  transition: 0.2s ease;
  z-index: 1;
}
.mini-cart::before {
  transform: rotate(0deg);
}
.mini-cart::after {
  transform: rotate(-90deg);
}
.mini-cart.open {
  opacity: 0.9;
}
.mini-cart.open::before {
  transform: rotate(45deg);
}
.mini-cart.open::after {
  transform: rotate(-45deg);
}
.mini-cart.open .search-form {
  opacity: 1;
  pointer-events: auto;
}
