.menu-hamburger {
  padding: 25px;
  position: relative;
  background: white;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 7px 7px 15px rgb(0 0 0 / 15%), -7px -7px 20px #f9f9f9,
    inset 0px 0px 4px rgb(255 255 255 / 20%), inset 7px 7px 15px rgb(0 0 0 / 0%),
    inset -7px -7px 20px rgb(0 0 0 / 0%), 0px 0px 4px rgb(0 0 0 / 0%);
}
.icon-left {
  content: '';
  background: black;
  width: 10px;
  height: 2px;
  left: -5px;
  top: 5px;
  position: relative;
  transition: 0.2s ease;
  z-index: 1;
}
.icon-left:before {
  content: '';
  background-color: black;
  transition-duration: 0.5s;
  position: absolute;
  width: 10px;
  height: 2px;
  left: 1px;
  top: -10px;
}
.icon-left:after {
  content: '';
  background-color: black;
  transition-duration: 0.5s;
  position: absolute;
  width: 10px;
  height: 2px;
  top: 10px;
  left: 1px;
}
.icon-left:hover {
  cursor: pointer;
}
.icon-right {
  content: '';
  background: black;
  width: 10px;
  height: 2px;
  position: relative;
  top: 3px;
  left: 5px;
  transition: 0.2s ease;
  z-index: 1;
}
.icon-right:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: black;
  content: '';
  top: -10px;
}
.icon-right:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: black;
  content: '';
  top: 10px;
}
.menu-hamburger.open .icon-left {
  transition-duration: 0.5s;
  background: transparent;
}
.menu-hamburger.open .icon-left:before {
  transform: rotateZ(45deg) scaleX(1.2) translate(4px, 4px);
}
.menu-hamburger.open .icon-left:after {
  transform: rotateZ(-45deg) scaleX(1.2) translate(4px, -4px);
}
.menu-hamburger.open .icon-right {
  transition-duration: 0.5s;
  background: transparent;
}
.menu-hamburger.open .icon-right:before {
  transform: rotateZ(-45deg) scaleX(1.2) translate(-4px, 4px);
}
.menu-hamburger.open .icon-right:after {
  transform: rotateZ(45deg) scaleX(1.2) translate(-4px, -4px);
}
.menu-hamburger:hover {
  cursor: pointer;
}
