.container {
  padding: 50px 0;
}

.top-bar {
  height: 68px;
  background-color: #3a3e39;
}

.top-bar-left {
  color: white;
}

.top-bar-right {
  color: white;
}

.logo {
  padding: 10px;
}

.header-nav-container {
  width: 100%;
  height: 60px;
  background: #f3f3f3;
  margin-bottom: 20px;
}

.dropdown-toggle {
  width: 270px;
  height: 60px;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 10px;
  display: block;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #252523;
  background-image: linear-gradient(
    45deg,
    #222121 0%,
    #686b67 51%,
    #3a3e39 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.dropdown-toggle:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.dropdown-toggle:active {
  transform: scale(0.95);
}

.dropdown-toggle:focus {
  box-shadow: none;
}

.dropdown-menu {
  background: #ffffff;
  border-radius: 8px;
  top: 80px;
  right: 0;
  width: 270px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  position: absolute;
}

.dropdown-item a {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  border-bottom: 1px solid #dddddd;
  color: #333333;
  padding: 15px 20px;
  display: block;
}
