.container {
  padding: 50px 0;
}

.top-bar {
  background-image: url('./top-bar.webp');
}

.header-nav-container {
  width: 100%;
  height: 60px;
  background: #f3f3f3;
  margin-bottom: 20px;
}

.dropdown-toggle {
  width: 270px;
  height: 60px;
  border-radius: 0;
  border: 0;
  box-shadow: none;
}

.dropdown-toggle:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.dropdown-menu {
  background: #ffffff;
  border-radius: 8px;
  top: 80px;
  right: 0;
  width: 270px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  position: absolute;
}

.dropdown-toggle:focus {
  box-shadow: none;
}

.dropdown-item a {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  border-bottom: 1px solid #dddddd;
  color: #333333;
  padding: 15px 20px;
  display: block;
}
