.btn {
  color: #888;
}

.input-group {
  flex-wrap: inherit;
  border: 1px solid #eee;
}

.input-group .form-control {
  height: 46px;
  border: none;
  border-radius: 0;
  padding: 7px 20px;
  box-shadow: none;
}

.input-group .form-control:focus {
  z-index: 0;
}

.form-control::-webkit-input-placeholder {
  color: #888;
}

#button-search {
  color: white;
  background-color: black;
  border-radius: 0;
}

#button-search:focus {
  box-shadow: none;
}
